<body>
  <h1>Información Personal</h1>
  <p>Nombre: Bryam Guachun</p>
  <p>Edad: 21</p>
  <p>Ocupación: Estudiante</p>
  <p>Ubicación: Cuenca,Ecuador</p>

  <h2>Intereses</h2>
  <ul>
    <li>Me interesa mucho la programacion y ahora mismo estoy estudiando para ser un ingeniero en sistemas</li>
    <li>Deportes</li>
    <li>Musica</li>
  </ul>
  <h2>Sobre Mí</h2>
  <p>Como lo mencione antes me interesa mucho la programacion y ahora me esta llamando mas la atencion lo que es
    plataformas web e inteligencia artificial, me gustan los deportes y la Musica
  </p>
</body>

